footer {
  background: url("./../img/footer_bg.svg") no-repeat;
  background-size: cover;
  color: #fff;
}

/* footer UL & LI 設定 */
.footer-title {
  font-size: 19px;
  font-family: "Noto Sans TC";
  font-weight: 400;
}
.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-family: "Noto Sans TC";
  font-size: 14px;
  padding: 0px 0px 50px 0px;
}
.footer_ul_amrc li {
  padding: 15px 0px 0px 0px;
}
.footer_ul_amrc li a {
  color: #fff;
}
.footer_ul_amrc li a:hover {
  color: #e4955a;
  text-decoration: none;
}

/* 聯絡我們半透明小字 */
.contact-detail {
  font-family: "Roboto", "Noto Sans TC";
  font-size: 12px;
  opacity: 0.5;
}

/* 社群svg 樣式設定 */
.footer-brand a {
  margin: 0 20px 0 0;
}
.footer-brand svg {
  fill: white;
  width: 30px;
  height: 25px;
}
.footer-brand svg:hover {
  fill: #e4955a;
}

/* ▼ 最後一行樣式設定 */
.copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
}

.footer-final-ul {
  list-style: none;
}
.footer-final-ul li {
  display: inline;
  margin: 0 8px;
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 14px;
}
.footer-final-ul a {
  color: #fff;
}
.footer-final-ul a:hover {
  color: #e4955a;
  text-decoration: none;
}
/* 偽元素 */
.fakeline::after {
  height: 16px;
  font-size: 16px;
  content: "|";
}

/* 最後一行row與底部距離 */
.final-row {
  padding-bottom: 70px;
}
