@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

/* navbar 高度 ▼ */
.ju4t-nav {
  height: 90px;
}

/* navbar 連結字體 ▼ */
.nav-link {
  font-family: "Noto Sans TC";
  font-weight: 500;
  color: #707070;
  font-size: 16px;
}
.nav-item a:hover {
  color: #e4955a !important;
}

/* logo大小 ▼ */
.navbar-brand svg {
  width: 85px;
  height: 27px;
}

/* navbar button 大小 */
.nav-item .btn svg {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
.nav-item:hover .btn svg {
  width: 20px;
  height: 20px;
  opacity: 1;
}

.nav-bag-link {
  font-family: "Roboto";
  font-weight: bold;
  color: #919191;
  font-size: 14px;
}

.nav-bag:hover a {
  text-decoration: none;
  color: #707070 !important;
}

.navbar-collapse {
  height: 100%;
}
